

.titulo{                                                                                                                                              
display: flex;
justify-content: center;
    word-spacing: 1%;
    letter-spacing: 1em;
    text-align: center;
  
    color: #F2C2C2;
    }
  
  header{
  display: grid;
 align-items: center;
 text-align: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
      }
      .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        right: 122em;
           list-style: none;
           padding: 0;
          
           width: 90%;
           max-width: 100%;
          
          }
  
  
      .menu li a {
      
          text-decoration: none; 
          color: black;
          padding: 20px;
          display: block;
      }
    .menu li {
          display: inline-block;
          text-align: center;
  }
  
  .menu li a:hover{
   color: #F2C2C2
       }
  
  .sobrenicole1{
  
    font-family: Harmonia Sans,sans-serif;
    padding: 2em;
    
  
  }
  
  main{
    text-align: center;
   margin: 0em;
  }
  
  
  .about{
  justify-content: flex-end;
  
  margin: 2em;
  border-bottom: 1px solid #F2C2C2;
  text-align: center;
  }
  
  .nicole{
  margin-right: 20%;
    margin-left: 20%;
    font-size: medium;
    font-family: Harmonia Sans,sans-serif;
    text-align: center;
  background-color: none;
  color: rgb(71, 61, 61);
  margin-top: 10em;
  
  }
  
  .comparasion{
  
  border-bottom: 1px solid #F2C2C2;
  border-top: 0%;
  margin: 2em;
  padding-bottom: 4em;
  }
  
  
  #redesfooter{
    margin-top: 10%;
    display: flex;
   justify-content: center;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  align-items: center;
  }
  
  
   .formulario{
    align-content: center;
    margin-top: 10%;
  border: #F2C2C2;
   font-family: Georgia, 'Times New Roman', Times, serif;
    
  }
  
  
  
  option{
    background-color: #F2C2C2;
  }
  select{
    background-color: #F2C2C2;
  }
  
  textarea{
    margin-top: 1em;
  height: 50px;
    background-color:#DCB5B8;
  }
  fieldset.email{
  border: 2px solid#F2C2C2;
   margin-left: 20%;
    margin-right: 20%;
  position: relative;
  right: 110px;
  border-bottom: 2px solid#F2C2C2;
  align-self: center;
  }
  fieldset.datos{
    border: 2px solid#F2C2C2;
    margin-left: 20%;
     margin-right: 20%;
   position: relative;
   border-bottom: 2px solid#F2C2C2;
  align-self: center;
  }
  
  
  
  legend{
    color: rgb(71, 61, 61);
  }
  
  input{
   font-family: Georgia, 'Times New Roman', Times, serif;
   color: #F2C2C2;
  background-color: #DCB5B8;
  
  }
 
  select{
   font-family: Georgia, 'Times New Roman', Times, serif;
   background-color: #F2C2C2;
  }

  .imagen{

  line-height: 100px;
  justify-content: center;
  margin: 0%;
  
  }
  
  .imagen img{
  width: 170px;
  height: 181px;
  margin-bottom: 0%;
  box-shadow: 0px 10px 15px;
  animation-name: imagenes;
  animation-duration: 10s;
  animation-delay: 0s;
  
  }
  
  
  
  
  
  .galeria{
  
  align-items: center;
  margin: 0%;
  padding: 0%;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
  display: grid;
  align-content: center;
  margin-bottom: 0%;
  border-bottom: 1px solid #F2C2C2;
  
  } 
  .digitaldesingtitulo{ 
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;

    margin: 115px;
    border-bottom: 1px solid#F2C2C2;
    text-align: center;
  }
  .casa{
    height: 10em;
  margin-left: 20em;
  margin-top: 10em;
  }
  .fondo{
  background-color: #F2C2C2;
  }
  .imagen45{
  background-color: #F2C2C2;
  }
  
  .handpoked{
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    margin: 2em;
    border-bottom: 1px solid#F2C2C2;
  }
  .contenedor .galeria :hover{
  transform: scale(1.2);
  z-index: 1;
  
  
  }
  
  
  
  
  @keyframes imagenes {
    100% {color:#563232}


  }

  .aside{
    width: 100vw;
  }
  
  footer{
    margin-top: 10em;
  }
  .menufooter{
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
  }
  .menufooter li{
    list-style: none;
  }
    
  .menufooter li a{
   list-style: none;
    text-decoration: none; 
    color:rgb(71, 61, 61);
    padding: 20px;
  }
  
  
  .menufooter li a:hover{
    color: #F2C2C2;
        }
   
  
  .footertitulo{
  border-bottom-style: solid;
  border-color: #F2C2C2;
  border-width: 1px;
    font-size: small;
    margin-right: 60em;
    margin-bottom: 2em;
    color: #F2C2C2;
  margin-left: 5%;
    text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
  }
  
  .newsletter{
  align-items: center;
    color: #F2C2C2;
  justify-content: center;
  margin-bottom: -8em;
    margin-left: 50em;
  margin-right: 5em;
    font-size: small;
  size-adjust: 10em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
  }

  .newslettertitulo{
  
    border-bottom-style: solid;
  border-color: #F2C2C2 1px;
  border-width: 1px;
  font-size: small;
  margin-bottom: 2em;
  
  }

  a{
    text-decoration: none;
  
    color:rgb(71, 61, 61);
  }
  
  body{
    background-image: url(../fondo/218d135c3dea9c48dbbd5bf3e5b0fd1b.jpg);
    background-size: contain;
  background-size: cover;
  }
  
  input{
    background-color: #F2C2C2;
  border: #F2C2C2;
  color: rgb(71, 61, 61);
  }
  .contacto{
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    margin: 2em;
    border-bottom: 1px solid #F2C2C2;
  text-align: justify;
  }
  
  .instagram a:hover {
   color: #F2C2C2;
  }
  .facebook a:hover{
    color: #528EE4;
  }
  .behance a:hover{
    color: #8BCAD9;
  
  }
  .pinterest a:hover{
    color: red;
  }
  
  .grilla-index{

    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 65% 5% 2%;
    grid-template-areas: 
    "menu"
    "main"
    "aside"
    "formulario"
   
  }

  img{
    width: 200px;
  }
  .grilla-index header{
    grid-area: menu;
    }
    
    .grilla-index main{
      grid-area: main;
    }
  

    .grilla-index aside{
      grid-area: aside;
    }
    .grilla-index footer{
      grid-area: formulario;
    }

   
 
    @media only screen and (max-width: 575px){
      
      .grilla-index{
display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 60% 20%;
    
 
        /*
        grid row-gap: 1em;
        width: 95%;
        height: 100vh;*/
      }
       

  .newsletter{
font-size: x-small;
margin-left: 38em;
margin-top: 0em;

  }

  .menufooter{
margin-bottom: 0em;
font-size: smaller;

  }
img{
  width: 7em;
}
.grilla-index header{
  grid-area: menu;
  }
  
  .grilla-index main{
    grid-area: main;
   
  }
.nicole{
    font-size: smaller;
 margin-top: 6%;
  }


  .grilla-index aside{
    grid-area: aside;

  
  }
  .grilla-index footer{
    grid-area: formulario;
    font-size: smaller;
  }
}
  
   @media screen and (min-width:768px) and (max-width:1023px ) {
  
    .grilla-index{
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 5% 55% -10% ;
      grid-template-areas: 
      "menu"
      " main"
      "formulario"
 
      /*
          grid row-gap: 1em;
      width: 95%;
      height: 100vh
  */
  
   }
    }
  

/*media mediaquery pagina handpoked */

    .grilla-handpoked{
  
      display:grid;
      grid-template-columns: 1;
      grid-template-rows: 7% 70% 10% ;
      grid-template-areas: 
      "menu"
      "galeria"
      "formulario"
      "publicidad"
    }

    .grilla-handpoked header{
      grid-area: menu;
      }
      
      .grilla-handpoked section .contenedor{
        grid-area: main;
      }
    
     
    .grilla-handpoked .formularioymenu{
      grid-area: formulario;
    }
    .grilla-handpoked .redesfooter{
      grid-area: publicidad;
    }
    
      

      @media screen and(min-width:1024px) {
        .grilla-handpoked{
        display:grid;
        grid-template-columns: 1;
        grid-template-rows: 1% 10% 5% 5%;
        grid-template-areas: 
        "menu"
        "galeria"
        "formulario"
    "publicidad"
       /*
        grid row-gap: 1em;

        height: 100vh
      */
      }
      }
   @media screen and (min-width:768px) and (max-width:1023px ) {
  
    .grilla-handpoked{
      size: 10em;
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 10% 65% 10% ;
      grid-template-areas: 
      "menu"
      "galeria"
      "formulario"
      "publicidad"
  
      /*
          grid row-gap: 1em;
      width: 95%;
      height: 100vh
  */
  
   }
    }
    @media screen and (min-width:400px) and (max-width:767px){
      
      .grilla-handpoked{
       
        grid-template-columns: auto;
        grid-template-rows: 10% 65% 10% ;
        grid-template-areas: 
        "menu"
        "galeria"
        "formulario"
    "publicidad"
        /*
        grid row-gap: 1em;
        width: 95%;
        height: 100vh;*/
      }
   }

   /* media query digital desing */

   
   .grilla-digitaldesing{
  
   display: grid;
    grid-template-columns: auto;
    grid-template-rows: 7% 20% 50% ;
    grid-template-areas: 
    "menu"
    "galeria"
    "formulario"
 
   
   }

   
   .grilla-digitaldesing header{
    grid-area: menu;
    }
    
    .grilla-digitaldesing section .contenedor{
      grid-area: galeria;
    }
  
     
    .grilla-digitaldesing .formularioymenu{
      grid-area: formulario;
    }
    .grilla-digitaldesing .redesfooter{
      grid-area: publicidad;
    }
 
    @media screen and(min-width:1024px) {
      .grilla-digitaldesing{
grid-template-columns: 1fr;
      grid-template-rows: 1% 70% 50%;
      grid-template-areas: 
      
      "menu"
      "galeria"
      "formulario"
      "publicidad"
      ;
     /*
      grid row-gap: 1em;
      width: 95%;
      height: 100vh
    */
    }
    }
 @media screen and (min-width:768px) and (max-width:1023px ) {

  .grilla-digitaldesing{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 10% 45% 40% ;
    grid-template-areas: 
    "menu"
    "galeria"
    "formulario"


    /*
        grid row-gap: 1em;
    width: 95%;
    height: 100vh
*/

 }
  }
  @media screen and (min-width:400px) and (max-width:767px){
    
    .grilla-digitaldesing {
     
 display: grid;
      grid-template-columns: auto;
      grid-template-rows: 10% 45% 2%;
      grid-template-areas: 
      "menu"
      "galeria"
      "formulario"
 
  
      /*
      grid row-gap: 1em;
      width: 95%;
      height: 100vh;*/
    }
 }

 .carousel-inner {
display: flex;
align-items: center;
justify-content: center;
right: 10em;
 }

