/*contacto*/
main{
    .formulario{
        align-content: center;
        margin-top: 10%;
      border: #F2C2C2;
       font-family: Georgia, 'Times New Roman', Times, serif;
        
      }
      legend{
        color: rgb(71, 61, 61);
      }
    }