main{
    .handpoked{
        font-weight: lighter;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: red;
        margin: 2em;
        border-bottom: 1px solid#F2C2C2;
      }
    }