/*index*/ /*vars*/ /*header*/
header {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
header .menu {
  right: 122em;
  list-style: none;
  padding: 0;
  width: 90%;
  max-width: 100%;
}
header .menu li a {
  text-decoration: none;
  color: black;
  padding: 20px;
  display: block;
}
header .menu li {
  display: inline-block;
  text-align: center;
}
header .menu li a:hover {
  color: #F2C2C2;
}

/*footer*/
footer {
  margin-top: 10em;
}
footer .newsletter {
  align-items: center;
  color: #F2C2C2;
  justify-content: center;
  margin-bottom: -8em;
  margin-left: 50em;
  margin-right: 5em;
  font-size: small;
  size-adjust: 10em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer .newslettertitulo {
  border-bottom-style: solid;
  border-color: #F2C2C2 1px;
  border-width: 1px;
  font-size: small;
  margin-bottom: 2em;
}
footer .formulario {
  align-content: center;
  margin-top: 10%;
  border: #F2C2C2;
}
footer option {
  background-color: #F2C2C2;
}
footer select {
  background-color: #F2C2C2;
}
footer textarea {
  margin-top: 1em;
  height: 50px;
  background-color: #DCB5B8;
}
footer fieldset.email {
  border: 2px solid #F2C2C2;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
  right: 110px;
  border-bottom: 2px solid #F2C2C2;
  align-self: center;
}
footer fieldset.datos {
  border: 2px solid #F2C2C2;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;
  border-bottom: 2px solid #F2C2C2;
  align-self: center;
}
footer legend {
  color: rgb(71, 61, 61);
}
footer input {
  color: #F2C2C2;
  background-color: #DCB5B8;
}
footer .footertitulo {
  border-bottom-style: solid;
  border-color: #F2C2C2;
  border-width: 1px;
  font-size: small;
  margin-right: 60em;
  margin-bottom: 2em;
  color: #F2C2C2;
  margin-left: 5%;
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer .menufooter {
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer .menufooter li {
  list-style: none;
}
footer .menufooter li a {
  list-style: none;
  text-decoration: none;
  color: rgb(71, 61, 61);
  padding: 20px;
}
footer .menufooter li a:hover {
  color: #F2C2C2;
}
footer .redesfooter {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
  align-items: center;
}

/*handpoked*/
main .handpoked {
  font-weight: lighter;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: red;
  margin: 2em;
  border-bottom: 1px solid #F2C2C2;
}
main .contenedor .galeria :hover {
  transform: scale(1.2);
  z-index: 1;
}
main .galeria {
  align-items: center;
  margin: 0%;
  padding: 0%;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  align-content: center;
  margin-bottom: 0%;
  border-bottom: 1px solid #F2C2C2;
}
main .imagen {
  line-height: 100px;
  justify-content: center;
  margin: 0%;
}
main .imagen img {
  width: 170px;
  height: 181px;
  margin-bottom: 0%;
  box-shadow: 0px 10px 15px;
  -webkit-animation-name: imagenes;
          animation-name: imagenes;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

/*main*/
main .digitaldesingtitulo {
  font-weight: lighter;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 115px;
  border-bottom: 1px solid #F2C2C2;
  text-align: center;
}
main .contenedor .galeria :hover {
  transform: scale(1.2);
  z-index: 1;
}
main .galeria {
  align-items: center;
  margin: 0%;
  padding: 0%;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  align-content: center;
  margin-bottom: 0%;
  border-bottom: 1px solid #F2C2C2;
}

/*contacto*/
main .formulario {
  align-content: center;
  margin-top: 10%;
  border: #F2C2C2;
  font-family: Georgia, "Times New Roman", Times, serif;
}
main legend {
  color: rgb(71, 61, 61);
}

main {
  text-align: center;
  margin: 0em;
}
main .about {
  justify-content: flex-end;
  margin: 2em;
  border-bottom: 1px solid #F2C2C2;
  text-align: center;
}
main .sobrenicole1 {
  font-family: Harmonia Sans, sans-serif;
  padding: 2em;
  margin-right: 2em;
}
main .comparasion {
  border-bottom: 1px solid #F2C2C2;
  border-top: 0%;
  margin: 2em;
  padding-bottom: 4em;
}

/*handpoked*/
main .handpoked {
  font-weight: lighter;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 2em;
  border-bottom: 1px solid #F2C2C2;
}
main .contenedor .galeria :hover {
  transform: scale(1.2);
  z-index: 1;
}
main .galeria {
  align-items: center;
  margin: 0%;
  padding: 0%;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  align-content: center;
  margin-bottom: 0%;
  border-bottom: 1px solid #F2C2C2;
}
main .imagen {
  line-height: 100px;
  justify-content: center;
  margin: 0%;
}
main .imagen img {
  width: 170px;
  height: 181px;
  margin-bottom: 0%;
  box-shadow: 0px 10px 15px;
  -webkit-animation-name: imagenes;
          animation-name: imagenes;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

/*digitaldesing*/
main .digitaldesingtitulo {
  font-weight: lighter;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 115px;
  border-bottom: 1px solid #F2C2C2;
  text-align: center;
}
main .contenedor .galeria :hover {
  transform: scale(1.2);
  z-index: 1;
}
main .galeria {
  align-items: center;
  margin: 0%;
  padding: 0%;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  align-content: center;
  margin-bottom: 0%;
  border-bottom: 1px solid #F2C2C2;
}
main .imagen {
  line-height: 100px;
  justify-content: center;
  margin: 0%;
}
main .imagen img {
  width: 170px;
  height: 181px;
  margin-bottom: 0%;
  box-shadow: 0px 10px 15px;
  -webkit-animation-name: imagenes;
          animation-name: imagenes;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

/*contacto*/
main .formulario {
  align-content: center;
  margin-top: 10%;
  border: #F2C2C2;
  font-family: Georgia, "Times New Roman", Times, serif;
}
main legend {
  color: rgb(71, 61, 61);
}/*# sourceMappingURL=styles.css.map */