/*index*/
@import "vars";
@import "header";
@import "footer";
@import "handpoked";
@import "digitaldesing";


         main{
            text-align: center;
           margin: 0em;
          
              
          .about{
            justify-content: flex-end;
              color: red (22, 22, 161);
            margin: 2em;
            border-bottom: 1px solid #F2C2C2;
            text-align: center;
            }

            .sobrenicole1{
  
              font-family: Harmonia Sans,sans-serif;
              padding: 2em;
              
            margin-right: 2em;
             color: red

            }

            .comparasion{
  
              border-bottom: 1px solid $color;
              border-top: 0%;
              margin: 2em;
              padding-bottom: 4em;
              }
                }
      
            /*handpoked*/
            main{
              .handpoked{
                  font-weight: lighter;
                  font-family: Georgia, 'Times New Roman', Times, serif;
                  color: red;
                  margin: 2em;
                  border-bottom: 1px solid#F2C2C2;
                }
                .contenedor .galeria :hover{
                  transform: scale(1.2);
                  z-index: 1;
                  
                  
                  }
                  
  .galeria{
  
    align-items: center;
    margin: 0%;
    padding: 0%;
      justify-items: center;
      grid-template-columns: repeat(3,1fr);
    display: grid;
    align-content: center;
    margin-bottom: 0%;
    border-bottom: 1px solid #F2C2C2;
    
    } 
    .imagen{

      line-height: 100px;
      justify-content: center;
      margin: 0%;
      
      }
      
      .imagen img{
      width: 170px;
      height: 181px;
      margin-bottom: 0%;
      box-shadow: 0px 10px 15px;
      animation-name: imagenes;
      animation-duration: 10s;
      animation-delay: 0s;
      
      }
      }

      /*digitaldesing*/
      main{
.digitaldesingtitulo{ 
  font-weight: lighter;
  font-family: Georgia, 'Times New Roman', Times, serif;

  margin: 115px;
  border-bottom: 1px solid#F2C2C2;
  text-align: center;
}
.contenedor .galeria :hover{
  transform: scale(1.2);
  z-index: 1;
}
.galeria{
  
  align-items: center;
  margin: 0%;
  padding: 0%;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
  display: grid;
  align-content: center;
  margin-bottom: 0%;
  border-bottom: 1px solid #F2C2C2;
  
  } 
  .imagen{

    line-height: 100px;
    justify-content: center;
    margin: 0%;
    
    }
    
    .imagen img{
    width: 170px;
    height: 181px;
    margin-bottom: 0%;
    box-shadow: 0px 10px 15px;
    animation-name: imagenes;
    animation-duration: 10s;
    animation-delay: 0s;
    
    }
    
      
}
  
