/*index*/
@import "vars";
@import "header";
@import "footer";
@import "handpoked";


         main{
            text-align: center;
           margin: 0em;
          
              
          .about{
            justify-content: flex-end;
              color: red (22, 22, 161);
            margin: 2em;
            border-bottom: 1px solid #F2C2C2;
            text-align: center;
            }

            .sobrenicole1{
  
              font-family: Harmonia Sans,sans-serif;
              padding: 2em;
              
            margin-right: 2em;
             color: red

            }

            .comparasion{
  
              border-bottom: 1px solid $color;
              border-top: 0%;
              margin: 2em;
              padding-bottom: 4em;
              }

            }
            main{
              .handpoked{
                  font-weight: lighter;
                  font-family: Georgia, 'Times New Roman', Times, serif;
                  color: red;
                  margin: 2em;
                  border-bottom: 1px solid#F2C2C2;
                }
              }
              main{
                .handpoked{
                    font-weight: lighter;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    color: red;
                    margin: 2em;
                    border-bottom: 1px solid#F2C2C2;
                  }
                }
             